* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrap {
	margin-top: 200px;
	width: 1200px;
	margin: 0 auto;
}

table {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
}

table, td, th {
	border-collapse: collapse;
	border: 1px solid black;
}

.coupon {
	font-weight: bold;
	font-size: 32px;
	height: 100px;
}

.a {
	height: 200px;
}

#coupon {
	border: 1px;
	text-align: center;
}

input[type=button] {
	text-align: center;
	width: 100px;
	height: 30px;
	margin-left: 550px;
	background-color: gold;
}