@charset "UTF-8";

/*======================================
common style
========================================*/
.cstyle_btn { height: 40px; background-color: white; border: 1px solid #221f1f; cursor: pointer; }
.cstyle_btn:hover {color: black; border-color: black; }
.cstyle_btn:disabled { background-color: #a7a7a7; }
.cstyle_tab { background-color: white; color: #a7a7a7; border: 1px solid #221f1f; cursor: pointer; }
.tab_on { color: #221f1f; }
.cstyle_h1 { display: inline; padding: 10px 20px; border-bottom: 2px solid #a7a7a7;  }
.cstyle_flex { width: 100%; height: 100%; overflow: hidden; display: flex; justify-content: space-between; flex-wrap: wrap; }
.cstyle_item { position: relative; border: 1px solid #a7a7a7;  margin: 30px; }
.cstyle_border_gray { border: 1px solid #a7a7a7; }
.cstyle_border_black { border: 1px solid #221f1f; }
input:focus { outline:none; }
/*======================================
top
========================================*/
#header > .size { width: 1200px; height: 200px; margin: 0px auto; position: relative; display: table; }
#header > .size > .logo { display: table-cell; vertical-align: middle; }
#header > .size > .member_menu { right: 30px; top: 30px; position: absolute; }
#nav { width: 100%; height: 50px; background-color: #221f1f; }
#nav > .size { width: 1200px; height: 50px; margin: 0px auto; text-align: center; }
#nav > .size > .depth1 { width: 100%; height: 50px; line-height: 50px; }
#nav > .size > .depth1 > li { width: 20%; height: 100%; text-align: center; float: left; color: #e4e4e4; }
#nav > .size > .depth1 > li > a { display: block; }
#nav > .size > .depth1 > li > .depth2 { width: 100%; height: auto; clear: both; display: none; z-index: 1000; position: relative; }
#nav > .size > .depth1 > li > .depth2 > li { width: 100%; height: 50px; text-align: center; background-color: white; color: #575757; }
#nav > .size > .depth1 > li > .depth2 > li > a { display: block; }

/*======================================
bottom
========================================*/
#footer > .size { width: 700px; height: 100%; padding: 50px; margin: 0px auto; line-height: 250%; color: #e4e4e4; box-sizing: border-box; }
#footer > .size > .info { width: 100%; height: 100%; box-sizing: border-box; position: relative; }
#footer > .size > .info > .left { left: 0px; position: absolute; }
#footer > .size > .info > .center { left: 300px; position: absolute; }
#footer > .size > .info > .right { right: 0px; position: absolute; text-align: right; text-decoration: underline; }

/*======================================
layout
========================================*/
#header { width: 100%; height: 250px; }
#container { width: 1200px; height: 100%; margin: 0px auto; text-align: center; clear: both; }
#footer { width: 100%; height: 200px; bottom: 0px; background-color: #221f1f; clear: both; }

/*======================================
mypage_sidebar
========================================*/
.mypage_sidebar { width: 300px; display: flex; background-color: #e7e7e7; flex-direction: column; padding: 0px 40px 40px 40px; box-sizing: border-box; float: left;  }
.mypage_sidebar > div { width: auto; height: 80px; color: #2f3134; cursor: pointer; text-align: left; border-bottom: 2px solid #a7a7a7; }
.mypage_sidebar > div > h2 { padding-top: 40px; }

/*======================================
index
========================================*/
.banner { width: 100%; text-align: center; }
.swiper { width: 100%; height: 500px;  }
.swiper_area { position: absolute; }
.swiper_area > div { background-size: cover; background-repeat: no-repeat; }
.swiper_content { width: 1200px; height: 100%; position: relative; margin: auto; }
.swiper_content > .btn_area { width: 80px; height: 30px; right: 10px; top: auto; bottom: 10px; padding: 10px; background-color: #00000060; border-radius: 30px; display: flex; position: absolute; z-index: 1 }
.main_content { width: 100%; height: 100%; margin: 30px 0px; }
.main_content > .title { width: 100%; height: 80px; }
.main_content > .flex { width: 100%; height: 100%; overflow: hidden; display: flex; justify-content: space-between; }
.main_content > .flex > .item { width: 300px; height: 450px; position: relative; margin: 30px; }
.main_content > .flex > .item > a > img { width: 100%; height: 400px; }
.main_content > div > .all_view_btn { width: 80px; }
.swiper-button-prev { left: 10px; }
.swiper-button-next { right: 10px; }
.swiper-button-prev::after { font-size: 24px; color: #ffffff; }
.swiper-button-next::after { font-size: 24px; color: #ffffff; }

/*======================================
product/index
========================================*/
.itemList_thema { width: 100%; height: 200px; line-height: 200px; font-size: 50px; }
.itemList_thema > a { display: block; }
.cate_menu { width: 100%; height: 40px; display: table; box-sizing: border-box; border-collapse: collapse; cursor: pointer; }
.cate_menu > div { width: 33.3333%; height: 40px; display: table-cell; vertical-align: middle; }
.search_content { width: 100%; height: 40px; margin-top: 30px; overflow: hidden; box-sizing: border-box; }
.itemList_count { width:auto; height:100%; display: block; float: left; }
.itemList_search { width:auto; height:100%; display: block; float: right; }
.itemList_search > select { height: 30px; box-sizing: border-box; }
.itemList_search > input { height: 30px; box-sizing: border-box; }
.itemList_search > button { height: 30px; box-sizing: border-box; width: 30px; height: 30px; }
.product_content { width: 100%; height: 100%; margin: 30px 0px; }
.product_content > .flex { width: 100%; height: 100%; overflow: hidden; display: flex; justify-content: space-between; flex-wrap: wrap; }
.product_content > .flex > .item { width: 300px; height: 350px; position: relative; border: 1px solid #a7a7a7;  margin: 30px; }
.product_content > .flex > .item > a > img { width: 300px; height: 300px; box-sizing: border-box; }

/*======================================
product/detail
========================================*/
.product_detail_content { margin: 30px 0px;  box-sizing: border-box; border-collapse: collapse; }
.product_detail_content > table > tbody > tr td { border: 1px solid black; box-sizing: border-box; border-collapse: collapse; } 
.product_detail_content > table > tbody> button { width: 100%; height: 40px; display: table-cell; }
.item_img_area { width: 50%; height: 650px; padding: 20px; box-sizing: border-box; overflow: hidden; }
.item_img_area > .item_major_img { width: 500px; height: 500px; display: inline-block; background-size: cover; }
.item_img_area > .item_img_list { width: 100%; height: auto; display: flex; overflow: hidden; justify-content: center; }
.item_img_area > .item_img_list > .item_minor_img { width: 100px; height: 100px; margin: 20px 10px 0px 10px; background-size: cover; }
.item_info_area { width: 50%; height: 650px; text-align: left; vertical-align: top; padding: 20px; }
.item_info_area > .top { margin-bottom: 30px; }
.item_info_area > .top > .item_info_price {padding-top: 30px; }
.item_info_area > .middle { margin-bottom: 30px; }
.item_info_area > .middle > hr { margin: 30px 0px; }
.item_info_area > .bottom { line-height: 60px; }
.item_info_area > .bottom > .item_count_area { width: auto; height: auto; display: table; box-sizing: border-box; border-collapse: collapse; }
.item_info_area > .bottom > .item_count_area > * { display: table-cell; margin: 0px; padding: 0px; box-sizing: border-box; }
.item_info_area > .bottom > .item_count_area > .minus_btn { width: 24px; height: 32px; font-size: 20px; line-height: 30px; text-align: center; }
.item_info_area > .bottom > .item_count_area > .count { width: 80px; height: 32px; border: none; text-align: right; padding: 4px 10px; }
.item_info_area > .bottom > .item_count_area > .plus_btn { width: 24px; height: 32px; font-size: 20px; line-height: 30px; text-align: center; }
.item_info_area > .bottom > .total_price_area { display: flex; justify-content: space-between; }
.item_info_area > .bottom > .btn_area { display: flex; justify-content: center; }
.item_info_area > .bottom > .btn_area > button { width: 200px; height: 40px; margin: 30px 10px; }
.product_detail_content > table > tbody > tr > .cstyle_tab { width: 100px; height: 40px; }
.review_area { text-align: left; }
.review_area > ul > li { width:100%; padding: 20px; border-bottom: 1px solid #a7a7a7; display: table; }
.review_area > ul > li > .review_info { width: 200px; display: table-cell; padding: 20px 0px; }
.review_area > ul > li > .review_content { width:auto;  display: table-cell; padding:20px 40px 20px 20px; cursor: pointer; }
.review_area > ul > li > .review_content > .review_context { padding: 10px 0px; overflow: hidden; text-overflow: ellipsis; }
.review_area > ul > li > .review_content > .review_img { width: 70px; height: 70px; margin-right: 10px; background-size: cover; display: inline-block; }
.review_area > ul > li > .review_btn { width: 200px; height: 25px; margin: 40px; }

