@charset "UTF-8";
/* 마이페이지 기본 틀 */
* {box-sizing: border-box; color: rgb(48, 48, 48); text-decoration: none;}
li {text-decoration: none;}

/* 전체, 헤더 푸터 */
.wrap {width: 1200px; margin: 0 auto;}
.header {text-align: center; font-size: 40px; font-weight: bold; padding: 30px; background-color: #d8d8d8;}
.footer {text-align: center; font-size: 40px; font-weight: bold; padding: 30px; background-color: #d8d8d8; clear: both;}

/* 고객이름, 등급출력 부분 */
#myheader {font-size: 40px; font-weight: bold; text-align: center; padding: 30px;}
.myinfo {font-size: 50px;}

/* 왼쪽 메뉴 */
#submenu {font-weight: bold; width: 20%; height: 100%; font-size: 30px; padding: 15px; float: left; border: 1px solid black; border-radius: 30px; margin-bottom: 135px;}
#submenu li {width: 100%; text-align: center; padding: 15px;}
#content {width: 80%; padding: 30px; float: left;}

/* 왼쪽 메뉴 타이틀 */
.subtitle {font-size: 30px; font-weight: bold;}

/* 1:1 고객 문의*/
.qna_title { margin-top: 150px; margin-bottom: 20px; font-size: 20px; }

.qna_table { border-top: 2px solid rgb(173, 173, 173); border-bottom: 2px solid rgb(173, 173, 173); }
.qna_header_content { font-size: 16px; padding: 10px 6px; }
.qna_item { position: relative; border-top: 1px solid rgb(201, 201, 201); }

.qna_item > td  { padding: 20px 6px; }
.td_center { text-align: center; }

.qna_write_btn { width: 100px; height: 40px; font-size: 16px; float: right; margin: 20px 0px; 
    background-color: rgb(100, 100, 100); color: whitesmoke; cursor: pointer; }