@charset "UTF-8";
/* 마이페이지 기본 틀 */
.mypage_wrap * {box-sizing: border-box; color: rgb(48, 48, 48);}
.mypage_wrap {width: 1200px; margin: 0 auto;}

/* 헤더 푸터 */
.header {text-align: center; font-size: 40px; font-weight: bold; padding: 30px; background-color: #d8d8d8;}
.footer {text-align: center; font-size: 40px; font-weight: bold; padding: 30px; background-color: #d8d8d8; clear: both;}

/* 고객이름, 등급출력 부분 */
#myheader {font-size: 40px; font-weight: bold; text-align: center; padding: 30px;}
.myinfo {font-size: 50px;}

/* 왼쪽 메뉴 */
#submenu {font-weight: bold; width: 20%; height: 100%; font-size: 30px; padding: 15px; float: left; border: 1px solid black; border-radius: 30px; margin-bottom: 135px;}
#submenu li {width: 100%; text-align: center; padding-top: 15px; padding-bottom: 15px;}
#content {width: 80%; padding: 30px; float: left;}

/* 왼쪽 메뉴 타이틀 */
.subtitle {font-size: 30px; font-weight: bold;}

/* 테이블 컬럼 컬러 */
.col_color {background-color: #eeeeee;}

/* 마이페이지 내정보수정 */
.updateinfotable {border-radius: 30px; background-color: #eeeeee; width: 500px; margin: 0 auto; margin-top: 50px; padding: 15px;}
.updateinfotable div {width: 400px; margin: 0 auto; padding: 10px;}
.updateinfotable div table:not(.updateinfotable_5) tr td:nth-child(1){width: 30%; text-align: left; font-weight: bold;}
.updateinfotable div table:not(.updateinfotable_5) tr td:nth-child(2){width: 70%; text-align: right;}
.updateinfotable td {font-size: 17px;}
.updateinfotable input {width: 80%;}
.updateinfotable .updateinfotable_5 div {border-radius: 8px; padding: 0; width: 80px; height: 30px; text-align: center; line-height: 30px; font-size: 15px; font-weight: bold; color: rgb(255, 255, 255)}
.updateinfotable .updateinfotable_5 td:nth-child(1) div {background-color: rgb(48, 48, 48); cursor: pointer;}
.updateinfotable .updateinfotable_5 td:nth-child(2) div {background-color: steelblue; cursor: pointer;}