@charset "UTF-8";
/* 마이페이지 기본 틀 */
* {box-sizing: border-box; color: rgb(48, 48, 48); text-decoration: none;}
li {text-decoration: none;}

/* 전체, 헤더 푸터 */
.wrap {width: 1200px; margin: 0 auto;}
.header {text-align: center; font-size: 40px; font-weight: bold; padding: 30px; background-color: #d8d8d8;}
.footer {text-align: center; font-size: 40px; font-weight: bold; padding: 30px; background-color: #d8d8d8; clear: both;}

/* 고객이름, 등급출력 부분 */
#myheader {font-size: 40px; font-weight: bold; text-align: center; padding: 30px;}
.myinfo {font-size: 50px;}

/* 왼쪽 메뉴 타이틀 */
.subtitle {font-size: 30px; font-weight: bold;}

/* 공지사항 보기*/
.subheader { text-align: center; }
.notice_title { font-size: 16x; display: inline-block;  margin-bottom: 20px; padding-bottom: 20px; }
.notice_title::after { content: ''; box-sizing: border-box; display: block; border-bottom: 1px solid rgb(173, 173, 173); 
    bottom: 0px; width: 30px; height: 20px;  margin: auto; }
.notice_table { border-top: 2px solid rgb(173, 173, 173); border-bottom: 2px solid rgb(173, 173, 173); }
.notice_header_content { font-size: 16px; padding: 10px 6px; }
#content { margin-top: 150px; margin-bottom: 20px;  }
.notice_content { text-align: center; }

.detail_title { font-size: 24px; margin: 20px 0px; }
.detail_content { margin: 80px 0px; word-wrap: break-word; }
.notice_item { position: relative; border-top: 1px solid rgb(201, 201, 201); }
.notice_item > td  { font-size: 14px; padding: 10px 6px; }
.notice_item_title { text-align: left; }
.td_center { text-align: center; }

.notice_list_btn { width: 100px; height: 40px; font-size: 16px; float: right; margin: 20px 0px; 
    background-color: rgb(100, 100, 100); color: whitesmoke; cursor: pointer; }