* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrap {
	width: 1200px;
	margin: 0 auto;
}

.pay {
	margin: 150px;
	font-weight: bold;
	font-size: 32px;
	text-align: center;
}

p {
	font-size: 16px;
	text-align: center;
	height: 100px;
}

#cb1 {
	width: 75px;
	height: 25px;
	margin-left: 510px;
	background-color: gold;
}

#cb2 {
	width: 50px;
	height: 25px;
	margin-left: 50px;
	background-color: gray;
}