.itemInfo_wrap {
	width: 1200px; /*넓이*/
	margin: 0 auto; /*가운데 정렬*/
	box-sizing: border-box;
	border-collapse: collapse;
}

.header {
	border: 1px solid #000000;
	padding: 50px;
	text-align: center;
	box-sizing: border-box;
	border-collapse: collapse;
}

.itemInfo_content>.itemInfo_size1 {
	width: 50%;
	float: left;
	height: 660px;
	border: 1px solid black;
	text-align: center;
	box-sizing: border-box;
	border-collapse: collapse;
}

.itemInfo_content>.itemInfo_content_detail {
	width: 50%;
	float: left;
	height: 660px;
	text-align: center;
	border: 1px solid black;
	padding: 20px;
	box-sizing: border-box;
	border-collapse: collapse;
}

.itemInfo_content>.itemInfo_size1>.itemInfo_major_img {
	width: 500px;
	height: 500px;
	border: 1px solid #999;
	margin: 20px;
	box-sizing: border-box;
	border-collapse: collapse;
}

.itemInfo_content>.itemInfo_size1>.itemInfo_size2>.itemInfo_minor_img {
	width: 100px;
	height: 100px;
	margin: 0px 5px 20px 5px;
	border: 1px solid #999;
	cursor: pointer;
	box-sizing: border-box;
	border-collapse: collapse;
}

.itemInfo_content>.itemInfo_content_detail>.itemInfo_name {
	font-size: 30px;
	font-weight: bold;
	padding: 10px;
	text-align: left;
	box-sizing: border-box;
	border-collapse: collapse;
}

.itemInfo_content>.itemInfo_content_detail>.itemInfo_price {
	font-size: 20px;
	text-align: left;
	padding: 20px 10px;
	font-weight: 500;
	box-sizing: border-box;
	border-collapse: collapse;
}

.itemInfo_content>.itemInfo_content_detail>.itemInfo_delivery {
	font-size: 15px;
	text-align: left;
	padding: 30px 10px;
	box-sizing: border-box;
	border-collapse: collapse;
}

.itemInfo_content>.itemInfo_content_detail>.itemInfo_count {
	font-size: 15px;
	text-align: left;
	padding: 30px 10px;
	box-sizing: border-box;
	border-collapse: collapse;
}

.itemInfo_content>.itemInfo_content_detail>.itemInfo_final_price {
	font-size: 20px;
	text-align: left;
	padding: 10px 10px 30px 10px;
	box-sizing: border-box;
	border-collapse: collapse;
}

.itemInfo_content>.itemInfo_content_detail>.itemInfo_final_price>span {
	float: right;
	box-sizing: border-box;
	border-collapse: collapse;
}

.itemInfo_content>.itemInfo_content_detail>.itemInfo_button {
	height: 25px;
	margin: 10px;
	width: 200px;
	box-sizing: border-box;
	border-collapse: collapse;
}

.itemInfo_content>.itemInfo_info {
	border: 1px solid black;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border-collapse: collapse;
}

.itemInfo_content>.itemInfo_info>.itemInfo_board_area>.itemInfo_board_title
	{
	line-height: 40px;
	float: left;
	width: 50%;
	text-align: center;
	cursor: pointer;
	box-sizing: border-box;
	border-collapse: collapse;
}

.itemInfo_content>.itemInfo_info>.itemInfo_board_area>.itemInfo_board_title.on
	{ /*보드타이틀이면서 on인 것*/
	background-color: #d3d3d3;
	color: white;
	box-sizing: border-box;
	border-collapse: collapse;
}

.itemInfo_content>.itemInfo_info>.itemInfo_board_area>.itemInfo_board_content>ul
	{
	clear: both;
	border-top: 1px solid #999;
	text-align: center;
	box-sizing: border-box;
	border-collapse: collapse;
}

.itemInfo_content>.itemInfo_info>.itemInfo_board_area>.itemInfo_board_content>ul>li
	{
	padding: 20px;
	border-bottom: 1px solid #999;
	text-align: left;
	box-sizing: border-box;
	border-collapse: collapse;
}

.itemInfo_content>.itemInfo_info>.itemInfo_board_area>.itemInfo_board_content>ul>li>span
	{
	float: right;
	top: 0;
	box-sizing: border-box;
	border-collapse: collapse;
}

.itemInfo_content>.itemInfo_info>.itemInfo_board_area>#board_data {
	display: none;
	box-sizing: border-box;
	border-collapse: collapse;
}

.itemInfo_content>.itemInfo_info>.itemInfo_board_area>ul>.info_img {
	height: auto;
	width: auto;
	padding: 10px;
	box-sizing: border-box;
	border-collapse: collapse;
}

.itemInfo_content>.itemInfo_info>.itemInfo_board_area>.itemInfo_board_content>ul>li>.itemInfo_reviw_button_size
	{
	text-align: left;
	box-sizing: border-box;
	border-collapse: collapse;
}

.itemInfo_content>.itemInfo_info>.itemInfo_board_area>.itemInfo_board_content>ul>li>.itemInfo_reviw_button_size>.itemInfo_reviw_button
	{
	text-align: center;
	height: 25px;
	margin: 10px;
	width: 200px;
	box-sizing: border-box;
	border-collapse: collapse;
}

.itemInfo_content>.itemInfo_info>.itemInfo_board_area>.itemInfo_board_content>ul>li>.itemInfo_reviw_img
	{
	/* float: left; */
	height: 70px;
	width: 70px;
	box-sizing: border-box;
	border-collapse: collapse;
}

.itemInfo_content>.itemInfo_recommend_title {
	text-align: left;
	font-size: 20px;
	font-weight: bold;
	box-sizing: border-box;
	border-collapse: collapse;
}

.itemInfo_content>.itemInfo_recommend>.itemInfo_size {
	float: left;
	/* width: 33.3333%; */
	border: 1px solid #999;
	/* overflow: hidden; */
	/* padding: 30px; */
	margin: 42.33px;
	text-align: center;
	box-sizing: border-box;
	border-collapse: collapse;
}

.itemInfo_content>.itemInfo_recommend>.itemInfo_size>.itemInfo_p_item {
	font-weight: bold;
	display: inline-block;
	width: 250px;
	white-space: normal; /*줄바꿈*/
	box-sizing: border-box;
	border-collapse: collapse;
}

footer {
	border: 1px solid #000000;
	padding: 50px;
	text-align: center;
	clear: both;
	box-sizing: border-box;
	border-collapse: collapse;
}