.review_detail_wrap * {
	box-sizing: border-box;
}

.review_detail_wrap {
	width: 1200px;
	margin: 0 auto;
}

.review_detail_link {
	margin: 100px 0 0 0;
	font-size: 20px;
}

.review_detail_title {
	font-size: 40px;
	font-weight: bold;
}

.review_detail_id {
	margin: 50px 0 0 0;
	font-size: 25px;
}

.review_detail_day {
	font-size: 20px;
}

.review_detail_product {
	width: 400px;
	height: 100px;
	margin: 50px 0 0 0;
}

.product_img {
	float: left;
	width: 100px;
	height: 100px;
}

.product_img>a>img {
	width: 100px;
	height: 100px;
}

.product_name {
	float: left;
	width: 300px;
	font-size: 20px;
	display: block;
}

.review_detail_star {
	float: left;
	display: block;
	width: 300px;
	height: 70px;
}

.review_detail_star>img {
	width: 300px;
	height: 70px;
}

.review_detail_content>.review_detail_img {
	margin: 0 auto;
}

.review_detail_content>.review_detail_img>img {
	width: 900px;
	height: 500px;
}

.list_button {
	margin: 50px 0 0 0;
}

#list_btn {
	width: 100px;
	height: 50px;
	background-color: rgb(177, 175, 175);
}