.signIn_wrap {
	width: 1200px;
	margin: 0 auto; /* 가운데 정렬 */
	box-sizing: border-box;
	border-collapse: collapse;
}

.header {
	border: 1px solid #000000;
	padding: 50px;
	text-align: center;
	box-sizing: border-box;
	border-collapse: collapse;
}

.signIn_wrap>.signIn_content {
	border-right: 1px solid black;
	border-left: 1px solid black;
	padding: 100px;
	text-align: center;
	float: left;
	width: 100%;
	box-sizing: border-box;
	border-collapse: collapse;
}

.signIn_wrap>.signIn_content>.signIn_p {
	padding: 30px;
	font-size: 25px;
	font-weight: bold;
	box-sizing: border-box;
	border-collapse: collapse;
}

.signIn_wrap>.signIn_content>.signIn_form>.signIn_button {
	height: 25px;
	background-color: white;
	border: 1px solid black;
	width: 200px;
	box-sizing: border-box;
	border-collapse: collapse;
}

.footer {
	border: 1px solid #000000;
	padding: 50px;
	text-align: center;
	clear: both;
	box-sizing: border-box;
	border-collapse: collapse;
}