@charset "UTF-8";
/*======================================
로그인화면
========================================*/
#admin_login_body {background: #F7F7F7;}

/*======================================
메인화면
========================================*/
#admin_main #bbs {width: 100%}   
#admin_main #blist {width: fit-content; margin: 25px auto;}
#admin_main .admin_main_table {position: relative; width: 700px; height: 250px;}
#admin_main .admin_main_table:nth-child(1) {float: left; padding-right: 20px;}
#admin_main .admin_main_table:nth-child(2) {float: left;}
#admin_main .admin_main_table:nth-child(3) {clear: both; float: left; padding-right: 20px;}
#admin_main .admin_main_table:nth-child(4) {float: left;}

/*======================================
메뉴 : 관리자계정
========================================*/
#admin_create #bbs {width: 500px;}
#admin_create .admin_authority input[type="checkbox"] {margin-right: 5px;}
#admin_create .btns {cursor: pointer;}

#admin_list .search select {margin: 0;}

/*======================================
메뉴 : 상품관리
========================================*/
.imagePreview1{width: 100px; height: 50px; background-position: center center; background-size: cover; display: inline-block;}
.imagePreview2{width: 100px; height: 50px; background-position: center center; background-size: cover; display: inline-block;}
.imagePreview3{width: 100px; height: 50px; background-position: center center; background-size: cover; display: inline-block;}