@charset "UTF-8";

/*======================================
전체
========================================*/
table {border-top: #4a4b4f 2px solid !important;}
.class_for_padding {padding: 8px 10px !important;}

/*======================================
top.jsp
========================================*/
#header .header_inner h1 span {font-weight:bold; color:#d01b5d;}

/*======================================
로그인화면
========================================*/
#admin_login_body {background: #F7F7F7;}
#login .joinList {padding-top: 0;}

/*======================================
메인화면
========================================*/
#admin_main * {white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}   
#admin_main #bbs {width: 100%}   
#admin_main #blist {width: fit-content; margin: 25px auto;}
#admin_main .admin_main_table {position: relative; width: 700px; height: 350px;}
#admin_main .admin_main_table table {table-layout: fixed;}
#admin_main .admin_main_table:nth-child(1) {float: left; padding-right: 40px;}
#admin_main .admin_main_table:nth-child(2) {float: left;}
#admin_main .admin_main_table:nth-child(3) {clear: both; float: left; padding-right: 40px;}
#admin_main .admin_main_table:nth-child(4) {float: left;}
.admin_main_table > div {display: flex; justify-content: center; margin-bottom: 10px;}
.admin_main_table:not(:nth-child(2)) > div input[name="admin_main_title"] {cursor: pointer; text-align: center;}
.admin_main_table:nth-child(2) > div input[name="admin_main_title"] {text-align: center;}

/*======================================
메뉴 : 관리자계정
========================================*/
#admin_create #bbs {width: 500px;}
#admin_create .admin_authority input[type="checkbox"] {margin-right: 5px;}
#admin_create .btns {cursor: pointer;}

/*======================================
메뉴 : 상품관리
========================================*/
.admin_product_list * {white-space: nowrap; text-overflow: ellipsis;}
.admin_product_list table {table-layout: fixed;}
.admin_product_list table td {overflow: hidden;}
.imagePreview1{width: 100px; height: 50px; background-position: center center; background-size: cover;}
.imagePreview2{width: 100px; height: 50px; background-position: center center; background-size: cover;}
.imagePreview3{width: 100px; height: 50px; background-position: center center; background-size: cover;}

/*======================================
메뉴 : 회원관리
========================================*/
#admin_members_detail .admin_members_detail_info {width: 500px;}
#admin_members_detail .admin_members_detail_info select {font-size: 12px;}
#admin_members_detail .admin_members_detail_table {width: 700px;}
#admin_members_detail .btns {cursor: pointer;}
.admin_members_detail_subtitle > div {display: flex; justify-content: center; margin-bottom: 10px;}
.admin_members_detail_subtitle > div input[name="admin_members_detail_subtitle"] {cursor: pointer; text-align: center;}
.admin_members_detail_subtitle > div input[name="admin_members_detail_subtitle2"] {text-align: center;}

/*======================================
메뉴 : 리뷰게시판 detail
========================================*/
.review_detail_rcontent{min-height:200px;}

/*======================================
메뉴 : qna detail
========================================*/
.qna_detail_qcontent{min-height:200px;}

/*======================================
메뉴 : 공지사항 detail
========================================*/
.notice_detail_ncontent{min-height:200px;}

/*======================================
메뉴 : 부가기능 
========================================*/
.add_ons_div {width:200px;height:50px;margin:0 auto;background-color: #6a6d6f;text-align:center;line-height: 50px;}
.add_ons_a {display:block; margin:0 auto;width:200px; color:white !important;font-weight: bold;}

/*======================================
메뉴 : 부가기능 쿠폰 create
========================================*/
.coupon_create_bbs{width:500px !important;}

/*======================================
메뉴 : 부가기능 쿠폰 detail
========================================*/
.coupon_detail_bbs{width:500px !important;}

/*======================================
메뉴 : 주문관리 detail
========================================*/
#admin_order_detail td {font-size: 13px; color: #656668;}
#admin_order_detail .admin_order_detail_info {width: 810px; margin-bottom: 0px;}
#admin_order_detail .admin_order_detail_product {width: 810px;}
#admin_order_detail .admin_order_detail_product #bread {height: 40px;}
#admin_order_detail .admin_order_detail_cancel {width: 810px;}
#admin_order_detail .admin_order_detail_info table:nth-child(1) {float: left; width: 400px !important; margin-bottom: 0 !important;}
#admin_order_detail .admin_order_detail_info table:nth-child(2) {float: right; width: 400px !important; margin-bottom: 0 !important;}
#admin_order_detail .btns {cursor: pointer;}
.admin_order_detail_product .title {font-size: 12px !important;}

/*======================================
메뉴 : 주문관리 add
========================================*/
#admin_order_add td {font-size: 13px; color: #656668;}
#admin_order_add .admin_order_add_info {width: 810px; margin-bottom: 0px;}
#admin_order_add .admin_order_add_info #bread table {margin: 0 auto;}
#admin_order_add .admin_order_add_product {width: 810px;}
#admin_order_add .admin_order_add_product table td {height: 45px !important;}
#admin_order_add .admin_order_add_product #bread {height: 40px;}
#admin_order_add .admin_order_add_info .admin_order_add_table1 {width: 400px !important; margin-bottom: 15px !important;}
#admin_order_add .admin_order_add_info .admin_order_add_table2 {width: 400px !important; margin-bottom: 15px !important;}
#admin_order_add .admin_order_add_info .admin_order_add_table3 {width: 400px !important; margin-bottom: 5px !important;}
#admin_order_add .btns {cursor: pointer;}
.admin_order_add_product .title {font-size: 12px !important;}
input[name=couponPrice_text] {text-align: center;}